body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.app {
  overflow: hidden;
  position: relative;
  //>div>div:nth-child(even){
  //  background-color: #64a6fd;
  //}
  //>div>div:nth-child(odd){
  //  background-color: #acf;
  //}
}
.app > div > .block{
  position: absolute;
  z-index: -1;
  width: 50px;
  height: 50px;
  background: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);

  &:nth-child(3n+2) {
    background: #444;
  }
  &:nth-child(3n+3) {
    background: #ff9213;
  }
}
