.works{
    background-color: #f1e2ff;
}
.imgPlusButton{
    position: relative;
    height: 200px;
    width: 300px;
}
.imgPlusButton img{
    height: 200px;
    width: 300px;
}
.btn{
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #ffdee9;
    color: #111111;
}
.btn:hover{
    background-color: #b0979f;

}